<!Doctype html>
<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <div>
           <h2> We are very happy you are here for registration process for you exam</h2>
           <br>
           <a href="/register/viewRegForm">Click Here to fill your registration from</a>
        </div>
    </body>
</html>