<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
    </head>
    <body>
        <h1>Aree whaa!! HAppy again to see u<br>
            Ruko thoda sa test krne do</h1>
    </body>
</html>